    <div class="post">

      <div class="post-header">
        <div class="icon">
          <img class="user-icon" src="<%= User.find(post.user_id).icon %>">
        </div>
        <div class="user-name"><b><%= User.find(post.user_id).username %></b></div>
      </div>

      <img class="post-picture" src="<%= post.url %>">

      <div class="post-likes">
        <div class="icon like-icon fa fa-heart fa-2x heart"></div>
        <div class="user-name"><b><%= post.likes %> likes</b></div>
      </div>

      <div class="post-footer">
        <div class="tag">
          <b><%= User.find(post.user_id).username %></b>
          <span><%= post.text %></span>
        </div>
        <div class="date"><%= post.created_at.to_s[0..-8] %></div>
        <div class="comment">
          <b>User1</b>
          <span>This is where the first comment goes</span>
        </div>
        <div class="comment">
          <b>User2</b>
          <span>This is where the second comment goes</span>
        </div>
        <a href="">Load 3 more comments</a>
      </div>

      <div class="post-comment">Add a Comment...<a href="" class="post-button"><b>Post</b></a></div>
      
    </div>
