<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="fixed-header">
  <div class="container">
    <nav>
      <a class="home" href="/">Instagram</a>
      <% if logged_in? %>
      <a class="signin" href="/logout" data-method="DELETE">Sign Out</a>
      <% else %>
      <a class="signin" href="/login">Sign In</a>
      <% end %>
    </nav>
  </div>
</div>

  <body>
    <%= yield %>
  </body>
</html>
